.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
.img-responsive{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;

}
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    /*border-radius: 2px;*/
    /*padding: 20px;*/
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -12px;
    /*background-color: #999999;*/
    z-index: 100;
    /*
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    */
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge > a {
    color: #C5C7C5 !important;
  }
  .timeline-badge a:hover {
    color: #FF531F !important;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
      padding:20px;
      margin-bottom: 0;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }
  .timeline-footer{
      padding:20px;
      background-color:#f4f4f4;
  }
  .timeline-footer > a{
      cursor: pointer;
      text-decoration: none;
  }
  .tooltip{
  
      position:absolute;
      z-index:1020;
      display:block;
      visibility:visible;
      padding:5px;
      font-size:11px;
      opacity:0;
      filter:alpha(opacity=0);
      
  }
  .tooltip.in{
      /*opacity:0;
      filter:alpha(opacity=80);*/
      
  }
  .tooltip.top{
      margin-top:-2px;
  }
  .tooltip.right{
      margin-left:2px;
  }
  .tooltip.bottom{
      margin-top:2px;
  }
  .tooltip.left{
      margin-left:-2px;
  }
  .tooltip.top .tooltip-arrow{
      bottom:0;
      left:0;
      margin-left:0;
      border-left:0 solid transparent;
      border-right:5px solid transparent;
      border-top:0 solid #000;
  }
  .tooltip.left .tooltip-arrow{
      bottom:0;
      left:0;
      margin-left:0;
      border-left:0 solid transparent;
      border-right:5px solid transparent;
      border-top:0 solid #000;
  }
  .tooltip.bottom .tooltip-arrow{
      bottom:0;
      left:0;
      margin-left:0;
      border-left:0 solid transparent;
      border-right:5px solid transparent;
      border-top:0 solid #000;
  }
  .tooltip.right .tooltip-arrow{
      bottom:0;
      left:0;
      margin-left:0;
      border-left:0 solid transparent;
      border-right:5px solid transparent;
      border-top:0 solid #000;
  }
  .tooltip-inner{
      width:200px;
      padding:3px 8px;
      color:#fff;
      text-align:center;
      text-decoration:none;
      background-color:#FF531F;
      -webkit-border-radius:0px;
      -moz-border-radius:0px;
      border-radius:0px;
  }
  .tooltip-arrow{
      position:absolute;
      width:0;
      height:0;
  }

  .widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
    }
    .status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
    }
    .status-upload form {
    float: left;
    width: 100%;
    }
    .status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
    }
    
    .status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
    }
    .status-upload ul > li {
    float: left;
    }
    .status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
    }
    .status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
    }
    .status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
    }
    .dropdown > a > span.green:before {
    border-left-color: #2dcb73;
    }
    .status-upload form button > i {
    margin-right: 7px;
    }

/*NUEVO**/

a {
  text-decoration: none;
  color: #262626;
}
.section {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding-top: 9em;
}

.insta {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 60px;
}
.a1 {
  -webkit-transform: translate3d(-200px, 0px, 0px);
  transform: translate3d(-200px, 0px, 0px);
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.animation {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.top-insta {
  position: relative;
  padding: 16px;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-insta img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -ms-flex-item-align: center;
  align-self: center;
}
.top-insta .user {
  margin-left: 10px;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 13px;
  font-weight: 600
}
.dot {
  cursor: pointer;
  background-image: url(https://goo.gl/NLUdLH);
  background-repeat: no-repeat;
  background-position: -434px -345px;
  height: 16px;
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  right: 16px;
  position: absolute;
  text-align: right;
}
.show{
  display: block !important;
}
.hide{
  display: none !important;
}
.position-dot{
  right: 192px;
  position: absolute;
  bottom: 47px;
}
.post {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.post-description{
  padding: 10px;
}
.overlay {
  background: rgba(0, 0, 0, 0.23);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -o-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.overlay:after {
  content: '';
  width: 600px;
  height: 100%;
  background: black;
  background: rgba(255, 255, 255, .1);
  display: inline-block;
  position: absolute;
  left: 388px;
  top: 0;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  -webkit-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -o-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.overlay span {
  background-image: url(https://goo.gl/NLUdLH);
  background-repeat: no-repeat;
  background-position: -2px -53px;
  height: 79px;
  width: 88px;
  display: inline-block;
  cursor: pointer;
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
  -webkit-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -o-transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.post:hover .overlay:after {
  left: -600px;
}
.post:hover .overlay {
  opacity: 1
}
.post:hover .overlay span {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}
.post img {
  width: 100%;
  height: 100%;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.footer {
  padding: 0 16px;
}
.react {
  margin-top: 4px;
  position: relative;
}
.react a {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}
.react a:last-child {
  margin-right: 0
}
.react .love {
  background-image: url(https://goo.gl/NLUdLH);
  background-position: -408px -156px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.react .comment {
  background-image: url(https://goo.gl/NLUdLH);
  background-position: -408px -26px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.react .save {
   background-image: url(https://goo.gl/NLUdLH);
  background-repeat: no-repeat;
  background-position: -104px -389px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.caption {
  color: #585858;
  font-size: 13px;
  margin: 16px 0;
}
.caption a {
  margin-right: .3em;
  font-weight: 600;
}
.comment-section {
  position: relative;
  border-top: 1px solid #efefef;
  padding: 26px 26px 26px 0;
  margin-top: 4px;
  overflow: hidden
}
.response-section{
  position: relative;
  /* border-top: 1px solid #efefef; */
  padding: 10px;
  margin-top: 4px;
  overflow: hidden;
}
.btn-send{
  font-size: 13px;
  color: #2222dc;
  /* text-decoration: underline; */
  cursor: pointer;
}

.comment-child{
  padding: 5px 10px;
} 
.show-more{
  padding: 0px 10px;
    color: #007bff;
    text-decoration: underline;
    /* background-color: white; */
    cursor: pointer;
}
.show-more-comment{
  padding: 0px;
  color: #007bff;
  text-decoration: underline;
  /* background-color: white; */
  cursor: pointer;
}
.cmnt {
  outline: none;
  overflow-x: scroll;
  padding: 0;
  background: none;
  border: none;
  color: #262626;
  width: 100%;
  height: 18px;
  max-height: 80px;
  resize: none;
}
.dot02 {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  cursor: pointer;
  background-image: url(https://goo.gl/NLUdLH);
  background-repeat: no-repeat;
  background-position: -434px -345px;
  height: 16px;
  width: 16px;
}
.footer-cont {
  font-size: 12px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
}
@media only screen and (max-width: 845px) {
  .footer-cont {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .footer-cont ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
  }
  .footer-cont ul li {
      margin-bottom: 8px;
  }
}
.footer-cont ul {
  padding: 0;
  margin: 0;
}
.footer-cont ul li {
  display: inline-block;
  list-style: none;
  margin-right: 16px;
}
.footer-cont ul li:last-child {
  margin-right: 0;
}
.footer-cont ul li a {
  color: #003569;
}
.footer-cont span {
  color: #999;
}

/**
IOMG INSTAGRAM
*/

.container-imgperfil{
  height: 100%;
  align-content: center;
}

.image_outer_container{
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  position: relative;
}

.image_inner_container{
  border-radius: 50%;
  padding: 2px;
 background: #833ab4; 
 background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
 background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.image_outer_container .green_icon{
  background-color: #4cd137;
  position: absolute;
  right: 0px;
  bottom: 5px;
  height: 10px;
  width: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
