<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-text" (click)="showInfoPerfil(modalInfoPerfil)">
    Mi perfil
  </span>

</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
          <form id="formText" novalidate [formGroup]="publishForm">
            <textarea formControlName="comment"></textarea>
            <ul>
              <li>
                <a (click)="file.click()">
                  <i class="fas fa-camera"></i>
                </a>
              </li>
            </ul>
            <input type="file" accept="image/*" #file class="hide" (change)="fileProgress($event)">
            <button type="submit" class="btn btn-success green" (click)="sharedPosts()">Compatir</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" infinite-scroll [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
  <div *ngFor="let post of posts;let postIndex=index;">
    <div class='insta fade-scroll' *ngIf="postIndex  < limitPost">
      <div class='top-insta'>
        <div class="container-imgperfil">
          <div class="d-flex justify-content-center h-100">
            <div class="image_outer_container">
              <div class="green_icon"></div>
              <div class="image_inner_container">
                <img
                  [src]="post.data.user ? post.data.user.photoURL ? post.data.user.photoURL : 'https://pinevalleymarket.com/uploads/user.png' : 'https://pinevalleymarket.com/uploads/user.png'">
              </div>
            </div>
          </div>
        </div>
        <a class='user'>{{post.data.user ? post.data.user.email : 'No name'}}</a>
        <span class='dot' (click)="post.open ? post.open = false : post.open = true;"
          *ngIf="this.userData.id == post.data.user.id"></span>
        <div class="dropdown position-dot">
          <div class="dropdown-menu" [ngClass]="post.open ? 'show' : 'hide'" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" (click)="showModalPost(post,modalUpdatePost)">Editar descripcion</a>
            <a class="dropdown-item" (click)="deletePost(post)">Eliminar</a>
          </div>
        </div>
      </div>
      <div class="post-description">
        <span>{{post.data.comment}}</span>
      </div>
      <div class='post'>
        <div>
          <span></span>
        </div>
        <img [src]='post.data.img'>
      </div>
      <div class='footer'>

        <div class="show-more-comment" *ngIf="post.limitComment < post.data.commentsDescription.length">
          <span (click)="post.limitComment = post.limitComment + 2;">Mostrar comentarios anteriores</span>
        </div>

        <div *ngFor="let comment of post.data.commentsDescription;let indexComment = index;">
          <div class='caption' *ngIf="post.limitComment > indexComment">
            <a>{{comment.data.user.email}}</a><span>{{comment.data.comment}}</span>
            <div class="show-more" *ngIf="comment.limitChildren < comment.data.childsDescription.length">
              <span (click)="comment.limitChildren = comment.limitChildren + 2;">Mostrar respuestas anteriores</span>
            </div>

            <div *ngFor="let child of comment.data.childsDescription;let indexChildren=index;">
              <div *ngIf="comment.limitChildren  > indexChildren " class="comment-child">
                <a>{{child.data.user.email}}</a><span>{{child.data.comment}}</span>
              </div>

            </div>
            <div class='response-section'>
              <form [formGroup]="formChieldComment.controls[postIndex]"
                (ngSubmit)="addChildComment(comment,formChieldComment.controls[postIndex].value)" novalidate>
                <div class="form-group">
                  <input type='text' class='cmnt' formControlName="comment" placeholder='Responder comentario'>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class='comment-section'>
          <form [formGroup]="formComment.controls[postIndex]"
            (ngSubmit)="addComment(post,formComment.controls[postIndex].value)" novalidate>
            <div class="form-group">
              <input type="text" class='cmnt' formControlName="comment" placeholder='Agregar comentario'>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #modalUpdatePost let-modal>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="status-upload">
          <form id="formText" novalidate [formGroup]="publishFormModal">
            <textarea formControlName="comment"></textarea>
            <ul>
              <li>
                <a (click)="file.click()">
                  <i class="fas fa-camera"></i>
                </a>
              </li>
            </ul>
            <input type="file" accept="image/*" #file class="hide" (change)="fileProgressModal($event)">
            <button type="submit" class="btn btn-success green" (click)="modal.close()">Compatir</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #modalInfoPerfil let-modal>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <form novalidate [formGroup]="userForm">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input name="" class="form-control" placeholder="Nombre" type="text" formControlName="displayName">
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-camera"></i> </span>
        </div>
        <!--input class="form-control" placeholder="Create password" type="file" (change)="filePerfil($event)"-->
        <input class="form-control" placeholder="URL" type="url">
      </div> <!-- form-group// -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" (click)="modal.close()"> Guardar </button>
      </div> <!-- form-group// -->
    </form>
  </div>

</ng-template>