<div id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Recuperar contraseña</h2>
          <div class="alert alert-danger" role="alert" *ngIf="error.show">
            {{error.message}}
          </div>
        </div>
        <form id="Login" [formGroup]="formLogin" (ngSubmit)="sendEmail()" novalidate>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Usuario" formControlName="user" required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="formLogin.invalid">Enviar correo</button>
        </form>
      </div>
    </div>
  </div>
</div>