<div id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <div class="alert alert-danger" role="alert" *ngIf="error.show">
            {{error.message}}
          </div>
        </div>
        <form id="Login" [formGroup]="formLogin" (ngSubmit)="toLogin()" novalidate>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Usuario" formControlName="user" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="formLogin.invalid">Entrar</button>
        </form>
        <div class="row text-center mt-10">
          <a routerLink="/recover-password">Recuperar contraseña</a>
        </div>
        <div class="row text-center mt-10">
          <a routerLink="/signup">Registrase</a>
        </div>
      </div>
    </div>
  </div>
</div>