<div id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Crear nuevo usuario</h2>
          <div class="alert alert-danger" role="alert" *ngIf="error.show">
            {{error.message}}
          </div>
        </div>
        <form id="Login" [formGroup]="formSignUp" (ngSubmit)="signUp()" novalidate>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Usuario" formControlName="user" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="formSignUp.invalid">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
</div>